/*WOMAN APP-STYLE
+++++++++++++++++++++*/



.brand{
    margin-top: 70px;
    height: 450px;
    width: 100%;
    background: url('../img/bgTemplate.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brand__title{
    color: white;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 600;
}
.brand__title::after{
    content: " brand";
    text-transform: uppercase;
    font-weight: 100;
}
.brand__subtitle{
    color: white;
    font-size: 26px;
    text-transform: uppercase;

}
/*brand content
================*/

.brand-content{
    margin: 60px 0 90px;
}
.brand-content__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(13,1fr);
    grid-gap: 10px;
}
.brand-info{

    grid-row: span 3;
}
.brand__photo{
    grid-row: span 5;
}
.brand-info__title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #575153;
}
.brand-info__subtitle{
    font-size: 13px;
    text-transform: uppercase;
    color: #727272;
}
.brand-info__text{
    font-size: 15px;
    color: #727272;
}